[class*="-icon"] {
	mask-size: 100% 100%;
	background-color: currentColor;
	mask-repeat: no-repeat;
	mask-position: center;
	height: 1em;
	width: 1em;
	display: inline-block;
}.bx-chair-icon { mask-image: url("../icons/bx-chair.svg"); }
.fa6-solid-chair-icon { mask-image: url("../icons/fa6-solid-chair.svg"); }
.hugeicons-chair-01-icon { mask-image: url("../icons/hugeicons-chair-01.svg"); }
.hugeicons-chair-04-icon { mask-image: url("../icons/hugeicons-chair-04.svg"); }
.hugeicons-chair-05-icon { mask-image: url("../icons/hugeicons-chair-05.svg"); }
.hugeicons-chair-barber-icon { mask-image: url("../icons/hugeicons-chair-barber.svg"); }
.hugeicons-office-chair-icon { mask-image: url("../icons/hugeicons-office-chair.svg"); }
.ic-outline-chair-alt-icon { mask-image: url("../icons/ic-outline-chair-alt.svg"); }
.ic-round-chair-icon { mask-image: url("../icons/ic-round-chair.svg"); }
