/* Base styles for all icons - include this first */
[class*="-icon"] {
	mask-size: 100% 100%;
	background-color: currentColor;
	mask-repeat: no-repeat;
	mask-position: center;
	height: 1em;
	width: 1em;
	display: inline-block;
}

